@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fff;
  --text-color: #000;
  --link-color: #0891b2;
}

[data-theme="dark"] {
  /* --bg-color: rgb(22 24 35); */
  --bg-color: #121b22;
  --text-color: #fff;
  --paragraph-color: #6b7280;
  --heading-color: #fff;
  --link-color: #0891b2;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

p {
  color: var(--paragraph-color);
}

a {
  color: var(--link-color);
}

li {
  color: var(--paragraph-color);
}

.list {
  list-style-type: initial;
  padding: 25px;
}
